version: "3"
services:
  postgres:
    image: "postgres:12"
    environment:
      POSTGRES_DB: fullctl
      POSTGRES_USER: fullctl
      POSTGRES_PASSWORD: devPASSWORD
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      - "15432:5432"
    volumes:
      - ./initdb.d:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data


  aaactl_web:
    user: "0:0"
    build:
      context: ../../../aaactl
      dockerfile: Dockerfile
    command: runserver 0.0.0.0:6000
    env_file:
      - .env
      - ../../../aaactl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
      # defaults -- setting here overrides .env
      # DATABASE_USER: aaactl
      # DATABASE_NAME: aaactl
      # DATABASE_PORT: 5432
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      # this needs to be set in the shell, compose env vars aren't read yet
      - "${AAACTL_PORT:-6000}:6000"
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../aaactl/src:/srv/service/main

  ixctl_web:
    build:
      context: ../../../ixctl
      dockerfile: Dockerfile
    command: runserver 0.0.0.0:6001
    env_file:
      - .env
      - ../../../ixctl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
      # defaults
      # DATABASE_USER: account_service
      # DATABASE_NAME: account_service
      # DATABASE_PORT: 5432
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      # this needs to be set in the shell, compose env vars aren't read yet
      - "${IXCTL_PORT:-6001}:6001"
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../ixctl/src:/srv/service/main


  ixctl_worker:
    build:
      context: ../../../ixctl
      dockerfile: Ctl/docker/Dockerfile.rsconfgen
    # command: fullctl_poll_tasks
    command: runserver
    env_file:
      - .env
      - ../../../ixctl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
    logging:
      options:
        max-size: 100m
        max-file: "3"
    user: 6300:6300
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../ixctl/src:/srv/service/main
#      - ../../../ixctl/LOCAL/mnt/arouteserver:/arouteserver:Z

  peerctl_web:
    build:
      context: ../../../peerctl
      dockerfile: Dockerfile
    command: runserver 0.0.0.0:6001
    env_file:
      - .env
      - ../../../peerctl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      # this needs to be set in the shell, compose env vars aren't read yet
      - "${PEERCTL_PORT:-7303}:6001"
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../peerctl/src:/srv/service/main


  devicectl_web:
    build:
      context: ../../../devicectl
      dockerfile: Dockerfile
    command: runserver 0.0.0.0:6001
    env_file:
      - .env
      - ../../../devicectl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      # this needs to be set in the shell, compose env vars aren't read yet
      - "${DEVICECTL_PORT:-6001}:6001"
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../devicectl/src:/srv/service/main


  pdbctl_web:
    build:
      context: ../../../pdbctl
      dockerfile: Dockerfile
    command: runserver 0.0.0.0:6001
    env_file:
      - .env
      - ../../../pdbctl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      # this needs to be set in the shell, compose env vars aren't read yet
      - "${PDBCTL_PORT:-7302}:6001"
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../pdbctl/src:/srv/service/main

  prefixctl_web:
    user: "0:0"
    build:
      context: ../../../prefixctl
      dockerfile: Dockerfile
    command: runserver 0.0.0.0:6001
    env_file:
      - .env
      - ../../../prefixctl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
      # defaults
      # DATABASE_USER: account_service
      # DATABASE_NAME: account_service
      # DATABASE_PORT: 5432
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      # this needs to be set in the shell, compose env vars aren't read yet
      - "${PREFIXCTL_PORT:-6001}:6001"
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../prefixctl/src:/srv/service/main:Z
      - ../../../prefixctl-reputation/src/prefixctl_reputation_check:/srv/service/venv/lib/python3.9/site-packages/prefixctl_reputation_check:Z
      - ../../../prefixctl-reputation/src/reputation_check:/srv/service/venv/lib/python3.9/site-packages/reputation_check:Z
      - ../../../prefixctl-meta/src/prefix_meta:/srv/service/venv/lib/python3.9/site-packages/prefix_meta:Z

  aclctl_web:
    user: "0:0"
    build:
      context: ../../../aclctl
      dockerfile: Dockerfile
    command: runserver 0.0.0.0:6001
    env_file:
      - .env
      - ../../../aclctl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
      # defaults
      # DATABASE_USER: account_service
      # DATABASE_NAME: account_service
      # DATABASE_PORT: 5432
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      # this needs to be set in the shell, compose env vars aren't read yet
      - "${ACLCTL_PORT:-6001}:6001"
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../aclctl/src:/srv/service/main:Z

  auditctl_web:
    user: "0:0"
    build:
      context: ../../../auditctl
      dockerfile: Dockerfile
    command: runserver 0.0.0.0:6001
    env_file:
      - .env
      - ../../../auditctl/Ctl/dev/.env
    environment:
      DATABASE_PASSWORD: devPASSWORD
      DATABASE_HOST: postgres
      # defaults
      # DATABASE_USER: account_service
      # DATABASE_NAME: account_service
      # DATABASE_PORT: 5432
    logging:
      options:
        max-size: 100m
        max-file: "3"
    ports:
      # this needs to be set in the shell, compose env vars aren't read yet
      - "${AUDITCTL_PORT:-6001}:6001"
    volumes:
      - ../../src/fullctl:/srv/service/main/fullctl
      - ../../../auditctl/src:/srv/service/main:Z

volumes:
  postgres_data:
