body {
  background-color: #191f26;
  color: #b8bbbc;
}

.inactive {
  color: #646a6f;
}
.active {
  color: #7dd120;
}

.alert-danger {
  color: #ea0000;
  background-color: #480000;
  border-color: #770505;
}

path.ixctl {
  fill: #3f99ff;
}
path.preixctl {
  fill: #4ECDC4;
}


a[data-action],
a[data-api-action] {
  cursor: pointer;
}

span.icon.ixctl {
  background-color: #3f99ff;
}

span.icon.prefixctl {
  background-color: #4ECDC4;
}


div.validation-error {
  color: #ea0000;
  background-color: #480000;
  border-color: #770505;
}

.validation-error-indicator {
  background-color: #2b0e0e !important;
  border-color: #760505 !important;
}

.loading-shim {
  background-color: rgba(0,0,0,0.5);
}

.ixctl {
  color: #0099FF;
}

.ixctl.app_bg {
  background-color: #0099FF;
}

.ixctl.app_bg.muted {
  background-color: #0e3450;
}

a[data-action].ixctl,
a[data-action].ixctl:hover,
a.ixctl,
.ixctl {
  color: #0099FF;
}


a[data-action].prefixctl,
a[data-action].prefixctl:hover,
a.prefixctl,
.prefixctl {
  color: #4ECDC4;
}

.prefixctl.app_bg {
  background-color: #4ECDC4;
}
.prefixctl.app_bg.muted {
  background-color: #244145;
}


div.header-outer {
  background-color: #000;
}

div.header-left a {
  color: #0099FF;
}

div.header-middle span.logo {
  color: #BCBEC0;
}

div.header select {
  background-color: #191F26;
  color: #fff;
}

div.header .button {
  background-color: #191F26;
  color: #fff;
}

div.header span.header-control span.icon-solid,
div.header span.header-control span.icon {
  background-color: #0e3450;
}

div.header span.header-control span.icon-solid > img,
div.header span.header-control span.icon > img {
  opacity: 0.66;
}

div.header .app-switcher .selected.prefixctl.expanded {
  background-color: #244145;
}

div.header .app-switcher .others {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

div.toolbar-outer {
  background-color: #132736;
}

div.toolbar {
  color: #BCBEC0;
}

div.toolbar select {
  background-color: #3C4650;
  color: #fff;
}

div.menu .button,
div.toolbar .button {
  color: #0099ff;
  background-color: #000;
}

div.menu .button.prefixctl {
  color: #4ECDC4;
}

div.menu div.section.tabs h5 {
  opacity: 0.5;
}

div.menu div.section.tabs .active {
  color: #fff;
  opacity: 1;
}


table thead tr th {
  color: #bcbec0;
  opacity: 0.4;
}

.table thead th {
  border-bottom-color: #9da2a7;
}

span.highlight,
.table td.highlight {
  color: #fff;
}

.table tr.secondary {
  background-color: #20262e;
  border-bottom-color: #3c4650;
}


.secondary .property .field,
.table tr.secondary td.property div.field {
  background-color: #29323b;
  border-left-color: #20262e;
}

.table tr.secondary td.indent {
  background-color: #191f26;
}


.controls,
.inner-list {
  background-color: #000;
}

.inner-list-2 {
  background-color: #131313;
  border-top: 1px #2f2f2f solid;
}


div.list-head,
.inner-list-head {
  background-color: #11151b;
  color: #55585b;
}

.main {
  background-color: #191f26;
}

.main a {
  color: #0099FF;
}

img.icon.filled {
  background-color: #000;
}

div.modal-content {
  background-color: #000;
}

h5.modal-title {
  color: #fff;
}

button.close {
  color: #fff !important;
}

button.close:hover {
  color: #fff !important;
}


div.controls button.generic,
div.controls button.submit,
div.modal button.submit {
  background-color: #0099FF;
  border-color: #0099FF;
  color: #fff;
}

div.controls button.generic:disabled {
  opacity: 0.5;
}

div.modal-footer {
  border-top-color: #3C4650;
}

div.modal-header {
  border-bottom-color: #BCBEC0;
}

span.select2-dropdown {
  border-color: rgba(188,190,192,0.5);
}

div.controls .select2-container--default .select2-selection--single,
div.controls textarea,
div.controls input[type="text"],
div.controls input[type="password"],
div.controls select {
  border: 1px solid rgba(188,190,192,0.5);
  background-color: #191F26;
  color: #FFFFFF;
}

div.controls .select2-container--default .select2-selection--single:disabled,
div.controls textarea:disabled,
div.controls input[type="text"]:disabled,
div.controls input[type="password"]:disabled,
div.controls select:disabled {
  border-color: transparent;
  background-color: #000;
  color: #FFFFFF;
}



div.controls label {
  color: #BCBEC0;
}

div.controls input[type="checkbox"] {
  background-color: #191F26;
  border: 1px solid #BCBEC0;
}
div.controls input[type="checkbox"]:checked:before {
  color: #FFFFFF;
}


div.controls textarea:focus,
div.controls select:focus {
  background-color: #191F26;
  color: #FFFFFF;
}

div.controls input[type="checkbox"] ~ label {
  color: #FFFFFF;
}

.select2-search__field,
span.select2-dropdown {
  color: #FFFFFF;
  background-color: #191F26;
}



.select2-selection__rendered {
  color: #fff !important;
}

div.menu div.menu-deco-border {
  background-color: #3c4650;
}


/*
 * bootstrap alerts
 */

.alert-info {
  color: #b8bcbc;
  background-color: #192027;
  border-color: #656567;
}


.dropdown-item,
.dropdown-menu {
  background-color: #0F1317;
}

.dropdown-item.selected:hover,
.dropdown-item.selected {
  background-color: #000;
}

.dropdown-menu {
  color: #BCBEC0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.dropdown-menu > h4 {
  color: #fff;
}

.dropdown-item {
  color: #4ECDC4;
}

.dropdown-item:hover {
  color: #4ECDC4;
  background-color: #0F1317;
}

div.header span.header-control .dropdown-item span.icon {
  background-color: #4ECDC4;
}

div.header span.header-control .dropdown-item span.icon-solid {
  background-color: #0e3450;
}

tbody.list-footer {
  border-top-color: #3C4650 !important;
}

tbody.list-footer td {
}

tbody.list-footer button {
  background-color: transparent;
  border-color: transparent;
}


