.templates,
.hidden,
div[data-element="templates"],
#templates {
  display: none;
}

a,
a[data-action],
.action {
  cursor: pointer;
}

a[data-action]:hover,
.action:hover {
  text-decoration: none;
}


.loading-shim {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

.nowrap {
  white-space: nowrap;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.sortable-button {
  cursor: pointer;
}
a{
  text-decoration: underline;
}

button {
  cursor: pointer;
}

@media (min-width: 1900px) {
  .container {
      max-width: 1400px;
  }
}

div.validation-error {
  position: absolute;
  top: 3px;
  right: 10px;
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px transparent solid;
}

div.input-group div.validation-error {
  top: 30px;
  z-index: 10;
  right: auto;
  left: 10px;
}

div.validation-error p {
  font-size: 14px;
  margin: 0px;
}

.marg-top-lg {
  margin-top: 30px;
}

/**
 * page
 */

body {
  font-family: "Archivo Narrow";
  letter-spacing: 0;
}

/**
 * header
 */


div.header {

}

div.header-left {
}

div.header-left a {
  line-height: 24px;
  font-size: 16px;
  text-decoration: underline;
}

div.header-middle {
  padding: 20px;
  text-align: center;
}

div.header-middle span.logo {
  line-height: 30px;
  font-size: 38px;
}

div.header-middle span.logo span.app-label {
  font-size: 30px;
}

div.header-right {
  padding: 16px 28px 12px 28px;
  text-align: right;
}

div.header select {
  border: none;
  font-size: 16px;
  line-height: 24px;
  border-radius: 15px;
  padding: 4px 28px 4px 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

div.header .button {
  border: none;
  border-radius: 25px;
  padding: 4px 28px 4px 38px;
  font-size: 16px;
  line-height: 24px;
  outline: none;

}

div.header .button.icon-less {
  padding: 4px 28px 4px 16px;
  position: relative;
  top: -2px;
}

div.header .button.icon-less img {
  height: 14px;
  margin: 5px;
}

div.header span.header-control {
  position: relative;
  display: inline-block;
}

div.header span.header-control > img.caret {
  position: absolute;
  right: 18px;
  top: 14px;
}

div.header span.header-control > button + img.caret {
  right: 12px;
}

div.header span.header-control span.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 25px;
  position: absolute;
  left: 2px;
  top: 2px;
}

div.header span.header-control span.icon > img {
  display: inline-block;
  padding: 7px;
}


div.header span.header-control .dropdown-item {
  font-family: "Archivo Narrow";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  padding-left: 12px;
  position: relative;
}

div.header span.header-control .dropdown-item > .action{
  position: absolute;
  right: 3px;
  top: 10px;
}

div.header span.header-control .dropdown-menu > h3 {
  font-family: "Archivo Narrow";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  padding-left: 10px;
}


div.header span.header-control .dropdown-menu > h4 {
  font-family: "Archivo Narrow";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  padding-left: 10px;
}



div.header span.header-control .dropdown-menu > .horizontal-line {
  height: 2px;
  background-color: #3C4650;
  margin-top: 8px;
  margin-bottom: 8px;
}

div.header span.header-control .dropdown-menu > span {
  font-family: "Archivo Narrow";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  padding-left: 10px;
}

div.header span.header-control .dropdown-item:hover {
  text-decoration: underline;
}

div.header span.header-control .dropdown-item span.icon {
  height: 16px;
  width: 16px;
  position: relative;
  top: auto;
  left: auto;
  border-radius: 0;
  vertical-align: middle;
  margin-right: 4px;
}

div.header span.header-control .dropdown-item span.icon-solid {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 25px;
}



div.header span.header-control .fullctl-app .dropdown-item {
  text-align: right;
}

div.header span.header-control .fullctl-app .dropdown-item img {
  height: 16px;
}

div.header span.header-control .fullctl-app .dropdown-item.ixctl img {
  height: 15px;
}

div.header-outer .top-border {
  height: 4px;
  margin-left: -15px;
  margin-right: -30px;
}

div.header .app-switcher {
  position: relative;
}

div.header .app-switcher .selected {
  padding-top: 18px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 28px;
  width: 210px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

div.header .app-switcher .selected .icon-caret-down {
  display: inline-block;
  margin-left: 10px;
}

div.header .app-switcher img.app-logo {
  height: 32px;
}

div.header .app-switcher .others {
  position: absolute;
  background-color:#000;
  top: 60px;
  left: 0px;
  right: 0px;
  z-index: 11;
}

div.header .app-switcher .others a {
  display: block;
  padding: 15px;
}

/**
 * toolbar
 */


div.toolbar {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
}

div.toolbar select {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0px;
  line-height: 24px;
  padding: 8px 48px 8px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 16px;
}

div.toolbar span.toolbar-control {
  position: relative;
  display: inline-block;
}

div.toolbar span.toolbar-control > img.caret {
  position: absolute;
  right: 18px;
  top: 19px;
}


div.menu .button {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

div.menu .button,
div.toolbar .button {
  border: none;
  border-radius: 25px;
  padding: 12px 18px 12px 18px;
  font-size: 16px;
  line-height: 16px;
  border: none;
  :0
  outline: none;
}

div.menu .button .icon,
div.toolbar .button .icon {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}

div.menu div.section.tabs h5 {
  cursor: pointer;
}

div.menu div.section.tabs h5.active {
  cursor: default;
  text-decoration: underline;
}

/**
 * icons
 */

span.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: bottom;
  margin-right: 3px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.inner-list span.icon {
}

span.icon-add {
  -webkit-mask-image: url(icons/icon/add.svg);
  mask-image: url(icons/icon/add.svg);
}
span.icon-delete {
  -webkit-mask-image: url(icons/icon/delete.svg);
  mask-image: url(icons/icon/delete.svg);
  width: 14px;
}
span.icon-edit {
  -webkit-mask-image: url(icons/icon/edit.svg);
  mask-image: url(icons/icon/edit.svg);
}
span.icon-logout {
  -webkit-mask-image: url(icons/icon/logout.svg);
  mask-image: url(icons/icon/logout.svg);
}
span.icon-settings {
  -webkit-mask-image: url(icons/icon/settings.svg);
  mask-image: url(icons/icon/settings.svg);
}

span.icon-list {
  -webkit-mask-image: url(icons/icon/list.svg);
  mask-image: url(icons/icon/list.svg);
}

span.icon-download {
  -webkit-mask-image: url(icons/icon/logout.svg);
  mask-image: url(icons/icon/logout.svg);
  transform: rotate(-90deg);
}
span.icon-org {
  -webkit-mask-image: url(icons/icon/org.svg);
  mask-image: url(icons/icon/org.svg);
}
span.icon-caret-down {
  -webkit-mask-image: url(icons/ui-caret-caret/down.svg);
  mask-image: url(icons/ui-caret-caret/down.svg);
}


img.icon.filled {
  border-radius: 25px;
  padding: 2px;
}

img.icon {
  shape-rendering: cripsEdges;
}

.checked [data-false] {
  display: none;
}

[data-true] {
  display: none;
}

.checked [data-true] {
  display: inline;
}

/**
 * menu
 */

div.menu {
  margin-top: 54px;
  position: relative;
}


div.menu h4 {
  font-family: "Archivo Narrow";
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 14px;
  font-weight: 400;
}

div.menu div.menu-deco-border {
  position: absolute;
  height: 2px;
  left: 15px;
  right: -15px;
  z-index: 10;
  top: 0px;
}

div.menu .button {
  margin-bottom: 8px;
}

/**
 * content
 */

.table th {
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 30px;
  text-transform: uppercase;
}

.table td,
.table th {
  border-top: none;
}

.tool {
  position: relative;
}

.table td.highlight {
  font-weight: 800;
}

.table td {
  font-size: 16px;
  line-height: 16px;
}

.table tr.secondary {
  border-bottom: 1px transparent solid;
}

.table td[data-field="controls"] a {
  white-space: nowrap;
}

@media (max-width: 1200px) {
.table td[data-field="controls"] a > span.label {
  display: none;
}
}

.table div.property {
}

@media (min-width: 767.98px) {
.table tr.secondary td.property div.field {
  --margin-top: -12px;
  --margin-bottom: -12px;
}
td.property {
  padding: 0px 15px;
}
}

.secondary .property .field,
.secondary .property .field-empty,
.table tr.secondary td.property div.field {
  padding-top: 12px;
  padding-bottom: 11px;
  border-left: 1px transparent solid;
}

tr.secondary > td {
  padding: 0px 15px;
}

.row.double-row > div.field > span {
  display: block;
}

.row.double-row > div.field > span:nth-child(2) {
  margin-top: 5px;
}

.row.double-row > div.field > span.inline {
  display: inline;
}

div.list-head {
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 44px;
  text-transform: uppercase;
  margin-top: -.75rem;
  margin-left: -.75rem;
  margin-right: -.75rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

div.list-body > div.row {
  margin-top: 5px;
}

tbody.list-footer {
  border-top: 1px solid transparent !important;
}

tbody.list-footer td {
  text-align: center;
}

tbody.list-footer button {
  text-decoration: underline;
}

div.column-list-3 {
  column-count: 3;
}

div.inner-list {
  padding: 5px;
}


td.inner-list-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}


div.inner-list-head {
  margin-top: -1rem;
  padding: 8px;
}

div.inner-list-head > div {
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 30px;
  text-transform: uppercase;
}

div.inner-list > div {
  padding: 3px 0px;
}

td div.controls div.alert {
  margin: 0px;
}

td div.controls  {
  padding: 5px;
}

div.flags > span {
  margin: 5px;
  display: inline-block;
}


/**
 * Table headings (ordering)
 */

.selected-order-header-asc {
  color: #0099FF;
  opacity: 1;
}
.selected-order-header-asc::after {
  content: " \2191";
}

.selected-order-header-desc {
  color: #0099FF;
  opacity: 1;
}

.selected-order-header-desc::after {
  content: " \2193";
}

/**
 * modal
 */

h5.modal-title {
  font-family: "Archivo Narrow";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
}

button.close {
  text-shadow: none;
  position: relative;
  top: -40px;
  opacity: 1;
}

div.controls button.generic,
div.controls button.submit,
div.modal button.submit {
  border-radius: 20px;
  font-family: "Archivo Narrow";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}

div.controls div.input-group-append button,
div.modal div.input-group-append button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-color: transparent;
}

div.modal-footer {
  margin-left: 16px;
  margin-right: 16px;
  padding-right: 0px;
  padding-left: 0px;
}

div.modal-header {
  border-top-width: 2px;
  margin-left: 16px;
  margin-right: 16px;
  padding-right: 0px;
  padding-left: 0px;
}


div.controls .select2-container--default .select2-selection--single,
div.controls input[type="text"],
div.controls input[type="password"],
div.controls textarea,
div.controls select {
  font-family: "Archivo Narrow";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

div.controls .select2-container--default .select2-selection--single:disabled,
div.controls textarea:disabled,
div.controls input[type="text"]:disabled,
div.controls input[type="password"]:disabled,
div.controls select:disabled {
  padding: 0px;
}


div.controls input[type="text"],
div.controls input[type="password"] {
  padding: 6px 8px;
  height: auto;
}

div.controls textarea {
  padding: 6px 8px;
}

div.controls label {
  font-family: "Archivo Narrow";
  font-size: 12px;
  letter-spacing: 2.4px;
  line-height: 8px;
}

div.controls input[type="checkbox"] {
  outline: none;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

div.controls input[type="checkbox"]:checked:before {
  content: '\2713';
  position: relative;
  top: -5px;
  left: 2px;

}

div.controls .form-check {
  margin-bottom: 15px;
}

div.controls input[type="checkbox"] ~ label {
  font-family: "Archivo Narrow";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

div.modal span.modal-control {
  position: relative;
  display: block;
}

div.modal span.modal-control > img.caret {
  position: absolute;
  right: 18px;
  top: 19px;
}



.select2-selection__rendered {
  padding-left: 0px !important;
  line-height: 14px !important;
}

.input-group .select2-selection__rendered {
  padding-left: 10px !important;
  line-height: 25px !important;
}

/*
 * oauth
 */

.btn-oauth {
  width: 210px;
}

div.oauth-backend.twentyc > a.btn {
  background-color: #191919;
  border-color: #0f1419;
}

img.login-twentyc,
img.login-peeringdb {
  height: 40px;
}

img.login-google {
  width: 40px;
}





/**
 * footer
 */

div.app-footer {
  text-align: center;
}


/**
 * login
 */

div.login button {
  color: #0099ff;
  background-color: #000;
}

div.login input {
  background-color: #3C4650;
  color: #fff;
}



