{% extends "common/v2/base.html" %}
{% load static i18n fullctl_util %}
{% block "title" %}{{org_branding.name}} / {{ service_tag }}{% endblock %}

{% block "js" %}
{{ block.super }}
<script src="{% static "autocomplete_light/autocomplete_light.min.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/vendor/select2/select2.full.js" %}" type="text/javascript"></script>
<script src="{% static "common/v2/app.js" %}" type="text/javascript"></script>
<script src="{% static "common/service_bridge.js" %}" type="text/javascript"></script>
{% endblock %}

{% block "css" %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/vendor/select2/select2.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/autocomplete.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "autocomplete_light/select2.css" %}" />
<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static "common/v2/app.css" %}?v=041208" />
<link rel="stylesheet" type="text/css" href="{% static "common/v2/themes/dark.css" %}?v=130801" />

{% endblock %}

{% block "content" %}

<script>
fullctl.user = {
  id : {{ request.user.id }},
  email : "{{ request.user.email }}",
  username : "{{ request.user.username }}"
}

fullctl.org = {
  id : {{ request.org.permission_id }},
  slug : "{{ request.org.slug }}",
  name : "{{ request.org.name }}"
}

{% if trial_object and trial_available %}
fullctl.trial_object = {{ trial_object.id }}
{% endif %}

{% if oauth_manages_org %}
fullctl.service_info = {{ service_info.json|safe }};
{% else %}
fullctl.service_info = {{ service_info|safe }};
{% endif %}

fullctl.aaactl_urls = {{ account_service.urls|safe }}


var True = true, False = false;

fullctl.permissions = {{ permissions|safe }}

// Apply color branding
const primaryColorValue = "{{ org_branding.css.primary_color }}"; // color
const setHeaderColor = "{{ org_branding.css.set_header_color }}"; // bool
const buttonTextColor = "{{ org_branding.css.button_text_color }}"; // color
const defaultDataTheme = "{{ org_branding.css.default_data_theme }}"; // light / dark
applyColorBranding(primaryColorValue, setHeaderColor, buttonTextColor, defaultDataTheme);

// Apply logo size branding
const logo_width = "{{ org_branding.css.logo_width }}";
const logo_height = "{{ org_branding.css.logo_height }}";
applyLogoBranding(logo_width, logo_height)

// store theme for easy reference in other parts of the app
fullctl.brand = {
  colors: {
    primary: primaryColorValue,
    secondary: "{{ org_branding.css.secondary_color }}" || null,
    header: setHeaderColor,
    button_text: buttonTextColor,
    text: "{{ org_branding.css.text_color }}" || null,
  },
  logo: {
    width: logo_width,
    height: logo_height,
    url_dark: "{{ org_branding.dark_logo_url }}" || null,
    url_light: "{{ org_branding.light_logo_url }}" || null,
  },
  graph: {
    logo_theme: "{{ org_branding.css.graph_logo_theme }}" || null,
  }
}

</script>

{% block "header" %}

<div class="main-container">
<header class="container-fluid header-outer px-4">
  {% if request.impersonating %}
  <div class="row">
    <div class="col-12 col-sm-2"></div>
    <div class="col-12 col-sm-8">
      <div class="alert alert-info center">
      {% blocktrans with user=request.user logged_in_user=request.impersonating.superuser %}
      You are currently impersonating <b>{{ user }}</b> - logged in as <b>{{ logged_in_user }}</b>
      {% endblocktrans %}
      <a class="action" data-element="stop_impersonation"
        data-api-base="{% url "fullctl_account_api:user-stop-impersonation" %}"
        data-api-method="POST">[{% trans "Stop Impersonating" %}]</a>
      </div>
    </div>
    <div class="col-12 col-sm-2"></div>
  </div>
  {% endif %}


  <div class="row header m-0" data-component="header">

    <!-- logo and app switcher -->

    <div class="col-md-auto d-flex align-items-center header-left me-3 px-0">
      {% block "header_left" %}
      <div class="app-switcher" data-element="app_switcher">
        <div class="selected {{ request.app_id }} d-flex align-items-center">
          {% if org_branding.dark_logo_url %}
          <img class="app-logo" src="{{ service_logo_dark }}" alt="{{ logo_alt_text }}">
          {% else %}
          <img class="app-logo" src="{% static service_logo_dark %}" alt="{{ logo_alt_text }}">
          {% endif %}
        <span class="icon {{ request.app_id }} icon-caret-y ms-4"></span>
        <div class="others" style="display:none">
          {% for service_app in service_applications %}
          {%   if service_app.slug != service_tag %}
          {%     with "common/logos/"|add:service_app.slug|add:"-dark.svg" as other_app_logo %}
            <a class="list-item" {% if not service_app.always_show_dashboard %}data-grainy-remove="{{ service_app.grainy }}.{{ request.org.remote_id}}"{% endif %} href="{{ service_app.org_redirect }}" data-slug="{{ service_app.slug }}">
              {% if org_branding.show_logo %}
                {% if not service_app.logo %}
                  <img class="app-logo" src="{% static other_app_logo %}" alt="{{ service_app.name }}">
                {% else %}
                  <img class="app-logo" src="{{ service_app.logo }}" alt="{{ service_app.slug }}">
                {% endif %}
              {% else %}
                  <span class="text-item">{{ service_app.name }}</span>
              {% endif %}
                <span class="icon-arrow | icon icon-lg"></span>
            </a>
          {%     endwith %}
          {%   endif %}
          {% endfor %}

        </div>
        </div>
      </div>
      {% endblock "header_left" %}
    </div>

    <!-- /logo and app switcher -->

    <!-- pages -->

    <div class="col header-middle">
    {% block "header_middle" %}
    {% endblock "header_middle" %}
    </div>

    <!-- /pages -->

    <div class="col-md-auto header-right d-flex align-items-center">
    {% block "header_right" %}
      {% block "header_account_panel" %}

      <!-- org switcher -->
      <div class="header-control d-flex align-items-center h-100">
        <div
          class="d-flex align-items-center px-3 ms-2 h-100"
          data-element="button_select_org"
          class="button"
          type="button"
          id="org-menu"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="icon icon-org"></span>

          <span class="ps-2 pe-4">{{ request.org.display_name }}</span>

          <span class="icon icon-caret-down"></span>
        </div>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="org-menu">

          <!-- current org options / actions -->
          <!-- switch org options -->
          <div
            data-api-base="{% url "fullctl_account_api:org-list" %}"
            data-org="{{ request.org.slug }}"
            data-element="select_org">
            <div class="list-body"></div>
            <div class="templates">
              <div data-template="row" class="dropdown-item">
                <a class="col dropdown-item p-1">
                  <span class="icon icon-org"></span>
                  <span data-field="name"></span>
                </a>
                {% if permissions.update_instance and oauth_manages_org %}
                <a class="action manage manage-org col-auto ms-2" href="{{ account_service.urls.manage_org }}">
                  <span class="icon icon-settings"></span>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="horizontal-line"></div>

          <!-- other org related actions -->

          {% if permissions.update_instance and oauth_manages_org %}
          <a class="dropdown-item" data-element="manage_current_org" href="{{ account_service.urls.manage_org }}">
            <span class="icon icon-settings"></span>
            <span class="label">
              {% trans "Manage Organization" %}
            </span>
          </a>
          {% endif %}

          {% if oauth_manages_org %}

          <a class="dropdown-item" href="{{ account_service.urls.create_org }}">
            <span class="icon icon-add"></span>
            <span class="label">
              {% trans "Create Organization" %}
            </span>
          </a>
          {% endif %}
        </div>
      </div>

      <!-- user menu -->
      <div class="header-control d-flex align-items-center h-100">
        <div
          class="d-flex align-items-center px-3 ms-2 h-100"
          data-element="button_account"
          class="button"
          type="button"
          id="user-menu"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="icon icon-user"></span>

          <span class="ps-2 pe-4">{{ request.user.username }}</span>

          <span class="icon icon-caret-down"></span>
        </div>

        <div class="dropdown-menu dropdown-menu-right px-2" aria-labelledby="user-menu">
          <div class="dropdown-item no-color">
            <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
          </div>
          <div class="dropdown-item no-color">
            <span class="email">{{ request.user.email }}</span>
          </div>
          <div class="horizontal-line"></div>
          <a class="dropdown-item" href="{{ account_service.urls.manage_account|safe }}">
            <span class="icon icon-settings"></span>
            <span class="label">
              {% trans "Manage Profile" %}
            </span>
          </a>
          <a class="dropdown-item" href="/logout/">
            <span class="icon icon-logout"></span>
            <span class="label">
              {% trans "Logout" %}
            </span>
          </a>
        </div>
      </div>
      {% endblock %}
    {% endblock %}
    </div>
  </div>
</header>
{% endblock %}


<!-- cross promote trials -->

{% include "common/v2/app/cross-promote-trials.html" %}

<main>
{% block "error_content" %}{% endblock %}

{% block "notifications" %}
<div class="notifications">
</div>
{% endblock %}

<!-- app trial -->

{% if not request|can_access:service_info.org_namespace %}

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    {% if trial_available and not service_info.org_has_access and permissions.billing %}
    <div class="alert alert-info center">
      <p>
      {% blocktrans trimmed with app_id=request.app_id app_slug=service_info.slug app_name=service_info.name org_name=request.org.display_name_verbose %}
      Start your <b>{{ app_name }}</b> trial for {{ org_name }}
      {% endblocktrans %}
      </p>
      <div>
        <button data-element="btn_start_trial" data-api-base="{% url "proxies-api-aaactl-start-trial" org_tag=request.org.slug %}" class="primary btn">
          <div class="row align-items-center">
            <div class="col label pe-0">{% trans "Start trial" %}</div>
            <div class="col-auto">
              <span class="icon icon-add"></span>
            </div>
          </div>
        </button>
      </div>
    </div>

    {% elif not trial_available and not service_info.org_has_access %}
    <div class="alert alert-info center">
      <p>
      {% blocktrans trimmed with app_id=request.app_id app_slug=service_info.slug app_name=service_info.name org_name=request.org.display_name_verbose %}
      Your trial period for <b>{{ app_name }}</b> has ended. To upgrade your subscription please contact us at <a href="mailto:{{ support_email }}">{{ support_email }}</a>
      {% endblocktrans %}
      </p>
    </div>


    {% else %}
    <div class="alert alert-danger marg-top-lg">
{% blocktrans trimmed with app_id=request.app_id app_slug=service_info.slug app_name=service_info.name org_name=request.org.display_name_verbose %}
You do not have access to {{ app_name }} for {{ org_name }}. If you have recently started a trial or have activated a subscription, please try again in a moment. If you continue to have issues, please contact us at <a href="mailto:{{ support_email }}">{{ support_email }}</a>
{% endblocktrans %}
    </div>
    {% endif %}
  </div>
  <div class="col-4"></div>
</div>
<div style="display:none">

{% elif not permissions.read_instance and request.org %}
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="alert alert-danger marg-top-lg">
{% blocktrans trimmed with app_id=request.app_id org_name=request.org.name %}
You do not have the permissions to view the {{ app_id }} workspace for the {{ org_name }} organization.
{% endblocktrans %}
    </div>
  </div>
  <div class="col-4"></div>
</div>
<div style="display:none">
{% elif trial_available %}

<!-- org has access, but there is a trial available on an object basis (ix in ixctl for example )-->
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="alert alert-info center">
      <p>
      {% blocktrans trimmed with app_id=request.app_id app_slug=service_info.slug app_name=service_info.name org_name=request.org.display_name_verbose %}
      Start your <b>{{ app_name }}</b> trial for {{ org_name }}
      {% endblocktrans %}{% if trial_object %} / {{ trial_object }}{% endif %}
      </p>
      <div>
        <button data-element="btn_start_trial" data-api-base="{% url "proxies-api-aaactl-start-trial" org_tag=request.org.slug %}" class="primary btn">
          <div class="row align-items-center">
            <div class="col label pe-0">{% trans "Start trial" %}</div>
            <div class="col-auto">
              <span class="icon icon-add"></span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

{% endif %}

<!-- main app content -->

{% block "app_content" %}
<div class="container-fluid toolbar-outer">
  <div class="container">
    <div class="row">
      {% block "app_content_toolbar_outer" %}
      <div class="col-12 toolbar" data-component="toolbar">
        {% block "app_content_toolbar" %}{% endblock %}
      </div>
      {% endblock %}
    </div>
  </div>
</div>

<div class="container-fluid content-outer">
  <div class="container">
    <div class="row">
      <div class="col-12 main" data-component="main">
        {% block "app_content_main" %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

<div id="templates">
{% include "common/v2/app/templates.html" %}
{% block "templates" %}
{% endblock %}
</div>

<div id="modals">
{% include "common/v2/app/modal.html" %}
</div>
{% if not permissions.read_instance %}</div>{% endif %}
</main>

<footer class="center app-footer">
{% block "footer" %}
{% include "common/v2/app/footer.html" %}
{% endblock %}
<!-- Modal -->
</footer>
{% endblock %}
</div>
