{% load i18n static %}
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col footer-left">
      {% block footer_left %}
      <div class="row align-items-center">
        <div class="col-sm-auto theme-switcher" type="button">
          <span class="icon icon-lg icon-theme-switcher"></span>
        </div>
        <div class="col-auto">
          <a title="Contact support" data-message-type="support" {% if post_feature_request_url == "" %}href="mailto:{{ support_email }}" {% else %}data-element="feature_request_btn"{% endif %}>Contact Us</a> |
          <a title="Feature request" data-message-type="feature-request" {% if post_feature_request_url == "" %}href="mailto:{{ support_email }}" {% else %}data-element="feature_request_btn"{% endif %} type="button">
            Feature Request
          </a>
        </div>
      </div>
      {% endblock %}
    </div>
    <div class="col-auto footer-center">
      {% block footer_center %}
        {{ org_branding.html_footer}}
      {% endblock %}
    </div>
    <div class="col footer-right">
      {% block footer_right %}
      <div class="row align-items-center justify-content-end">
        <div class="col-auto">{{ version }}</div>
        <div class="help-box js-hide">
          <div class="banner-img">
            <img src="{% static "common/v2/imgs/help.png" %}" alt="">
          </div>
          <a href="{{ docs_url }}" target="_blank">Documentation</a>
          <a href="{% url "swagger" %}">Swagger</a>
          <a href="{% url "redoc" %}">ReDoc</a>
          <a title="Contact support" data-message-type="support" {% if post_feature_request_url == "" %}href="mailto:{{ support_email }}" {% else %}data-element="feature_request_btn"{% endif %}>Contact Support</a>
          <a href="{{ legal_url }}">Legal Notes</a>
        </div>
        <div class="col-sm-auto help-btn" type="button">
          <span class="icon icon-lg icon-help"></span>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
